:root {
    /* --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;*/
    --white: #E4E6Eb;
    /* --gray: #6c757d;
    --gray-dark: #343a40; 
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745; */
    /* --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    --bs-table-bg: #3a4f62;
  }
body {
    background-color: #3e414a;
}
.sub-header{
    color: #E4E6Eb
}
.display-6{
    color: #E4E6Eb
}

#dropdownSelect {
    background-color: #3a4f62;
    border-color: #3a4f62;
    color: #E4E6Eb;
}

.card{
    background-color: #3a4f62;
    border-color: #3a4f62;
    color: #E4E6Eb;
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: #E4E6Eb;
    --bs-table-bg: #3a4f62;
    --bs-table-border-color: #3f414a;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #E4E6Eb;
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.list-group{
    --bs-list-group-color: #E4E6Eb;
    --bs-list-group-bg: #3a4f62;
    --bs-list-group-border-color: #3a4f62;
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
    --bs-list-group-action-active-color: var(--bs-body-color);
    --bs-list-group-action-active-bg: var(--bs-secondary-bg);
    --bs-list-group-disabled-color: var(--bs-secondary-color);
    --bs-list-group-disabled-bg: var(--bs-body-bg);
    --bs-list-group-active-color: #E4E6Eb;
    --bs-list-group-active-bg: #2a5d6a;
    --bs-list-group-active-border-color: #2a5d6a;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
}

.jsCalendar *{
    background-color: #3a4f62;
    color: #E4E6Eb ;
}